@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.body {
    margin: 0;
    padding: 0;
}


.form-background {
    background-color: #86efac;
}

.background-linear { 
    background-image: linear-gradient(to bottom right, rgba(14,109,105), rgba(24,191,171));
}